---
layout: base
---

<h1>{{ wine_name }}</h1>
<div>
    <p>Suggested by {{ host_name }} for the {{ wineclub_date | getMonthYear }} wine club.</p>
    <p>View this post on the <a href="{{ discord_link }}">Discord</a></p>
</div>

<div>
    {{ content | safe }}
</div>

<div>
    <h2>Store Links</h2>
    {%- for country, years in store_links -%}
        <h3>{{ country | upper }}</h3>
        <ul>
            {%- for year, url in years -%}
                {%- if url | isArray -%}
                    {%- for u in url -%}
                    <li><a href="{{ u }}" target="_blank">{{ year }} - {{ u | baseDomain }}</a></li>
                    {%- endfor -%}
                {%- else -%}
                    <li><a href="{{ url }}" target="_blank">{{ year }} - {{ url | baseDomain }}</a></li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    {%- endfor -%}
</div>